@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* start header */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3)), url('../assets/img/etc/cover.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

/* start nav bar */
.navbar {
    background: linear-gradient(rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .5));
    padding: 20px 30px;

    transition: all ease .7s;
}

.navmenus {
    background: linear-gradient(rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .7));
    padding: 5px 30px;
}

.menuitems {
    color: #eeee;
    font-size: 13px;
    letter-spacing: 1px;

    opacity: .7;

    transition: all ease-in-out .5s;
}

.menuitems:hover {
    color: #e5e5e5;
    opacity: 1;
}

.lines1,
.lines2,
.lines3 {
    width: 23px;
    height: 3px;

    margin: 5px;
    transition: all ease .4s;
}

.changes .lines1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.changes .lines2 {
    opacity: 0;
}

.changes .lines3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* end nav bar */
/* start banner */
.banners {
    width: 80%;

    position: absolute;
    right: 0;
    top: 50%;

    transform: translate(-10%, -50%);
}

.bannerheaders {
    animation-name: bannerani;
    animation-duration: 2s;
}

.bannerparagraphs {
    animation-name: bannerani;
    animation-duration: 2s;
    animation-delay: .5s;

    animation-fill-mode: backwards;
}


@keyframes bannerani {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* end banner */
/* end header */
/* start mission */
.missions {
    background: #151f20;
}

.underlines {
    width: 150px;
    border: 2px solid #eee;
    margin: auto;
}

.fromleft {
    animation-name: fromleft;
    animation-duration: 2s;
}

@keyframes fromleft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fromright {
    animation-name: fromright;
    animation-duration: 2s;
}

@keyframes fromright {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end mission */

/* start collection */
.cardshadows {
    box-shadow: 5px 8px 20px #444;
}

.headings {
    width: 70%;
    background: #222;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;


    position: absolute;
    top: 70%;
    right: 0;

    opacity: .7;
}

.headings:hover {
    opacity: 1;
}
/* end collection */

/* start gallery */
.darkunderlines {
    width: 150px;
    border: 3px solid #aaa;
    margin: auto;
}

.gallerylist {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.activeitems {
    color: #70aed2;
}
/* end gallery */

/* start customer */
.customers {
    background: #151f20;
}
/* end customer */
/* start price */
.cardones,.cardtwo,.cardthrees {
    max-width: 400px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(https://cdn.mos.cms.futurecdn.net/f5Y4yjCTQUctN9SGsevLRR-1200-80.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 7px 18px 50px #555;
}

.carditems {
    width: 55%;
    border-bottom: 1px groove #eee;
    margin: auto;
}

.cardbuttons {
    width: 130px;
    background: #f5593d;
    border-radius: 24px;
    box-shadow: 5px 8px 18px #333;
}

.cardbuttons:hover {
    background: #f9793d;
    transform: translateY(-2px);
}

.frombuttom {
    animation-name: frombuttom;
    animation-duration: 2s;
}

@keyframes frombuttom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* end price */
/* start subscribe */
.contacts {
    background: linear-gradient(
        105deg,
        rgba(21,31,32,1) 0%,
        rgba(21,31,32,0.95) 50%,
        transparent 50%
    ),url('./../assets/img/etc/lady.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.inputs {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ccc;

    border-radius: 0;

    color: #fff;
}

.inputs:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #f5593d;
    color: #fff;
}

.labels {
    color: #777;
    display: block;
    margin-top: -60px;
    margin-left: 4px;

    font-size: 13px;

    transition: all .3s;
}

.inputs:placeholder-shown+ .labels {
    transform: translate(20px ,20px);
    visibility: hidden;
}

.submitbuttons {
    background: #f55945;
    color: #eee;

    transition: all .4s;
}

.submitbuttons:hover {
    background: #f9793d;
    transform: translateY(-3px);
}
/* end subscribe */
/* start footer */
.footerlinks {
    color: #eee;
    font-size: 13px;
    text-decoration: none;

    transition: all .4s;
}

.footerlinks:hover {
    color: #70aed2;
}
/* end footer */